<% was_validated = actor.errors.any? %>

<%= form_with(model: actor, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for first_name start -->
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = actor.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <!-- Input for first_name start -->
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <!-- Input for first_name end -->
    <% if first_name_was_invalid %>
      <% actor.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for first_name end -->
  <!-- Label and input for last_name start -->
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = actor.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <!-- Input for last_name start -->
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <!-- Input for last_name end -->
    <% if last_name_was_invalid %>
      <% actor.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for last_name end -->
  <!-- Label and input for dob start -->
  <div class="form-group">
    <% dob_class = "form-control" %>
    <% dob_was_invalid = actor.errors.include?(:dob) %>

    <% if was_validated %>
      <% if dob_was_invalid %>
        <% dob_class << " is-invalid" %>
      <% else %>
        <% dob_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dob %>
    <!-- Input for dob start -->
    <%= f.date_select :dob, class: dob_class, placeholder: "Enter dob" %>
    <!-- Input for dob end -->
    <% if dob_was_invalid %>
      <% actor.errors.full_messages_for(:dob).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dob end -->
  <!-- Label and input for bio start -->
  <div class="form-group">
    <% bio_class = "form-control" %>
    <% bio_was_invalid = actor.errors.include?(:bio) %>

    <% if was_validated %>
      <% if bio_was_invalid %>
        <% bio_class << " is-invalid" %>
      <% else %>
        <% bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bio %>
    <!-- Input for bio start -->
    <%= f.text_field :bio, class: bio_class, placeholder: "Enter bio" %>
    <!-- Input for bio end -->
    <% if bio_was_invalid %>
      <% actor.errors.full_messages_for(:bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for bio end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = actor.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.file_field :image, class: "form-control" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% actor.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
