<% was_validated = movie.errors.any? %>

<%= form_with(model: movie, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% year_class = "form-control" %>
    <% year_was_invalid = movie.errors.include?(:year) %>

    <% if was_validated %>
      <% if year_was_invalid %>
        <% year_class << " is-invalid" %>
      <% else %>
        <% year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :year %>
    <%= f.number_field :year, class: year_class, placeholder: "Enter year" %>
    <% if year_was_invalid %>
      <% movie.errors.full_messages_for(:year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% duration_class = "form-control" %>
    <% duration_was_invalid = movie.errors.include?(:duration) %>

    <% if was_validated %>
      <% if duration_was_invalid %>
        <% duration_class << " is-invalid" %>
      <% else %>
        <% duration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :duration %>
    <%= f.number_field :duration, class: duration_class, placeholder: "Enter duration" %>
    <% if duration_was_invalid %>
      <% movie.errors.full_messages_for(:duration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = movie.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% movie.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% director_class = "form-control" %>
    <% director_was_invalid = movie.errors.include?(:director) %>

    <% if was_validated %>
      <% if director_was_invalid %>
        <% director_class << " is-invalid" %>
      <% else %>
        <% director_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_id %>
    <%= f.collection_select :director_id, Director.all, :id, :to_s, {}, class: "form-control" %>
    <% if director_was_invalid %>
      <% movie.errors.full_messages_for(:director).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% actor_class = "form-control" %>
    <% actor_was_invalid = movie.errors.include?(:actor) %>

    <% if was_validated %>
      <% if actor_was_invalid %>
        <% actor_class << " is-invalid" %>
      <% else %>
        <% actor_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :actor_id %>
    <%= f.collection_select :actor_id, Actor.all, :id, :to_s, {}, class: "form-control" %>
    <% if actor_was_invalid %>
      <% movie.errors.full_messages_for(:actor).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
