<!-- Form review start -->
<%= form_with(model: @review, local: true) do |f| %>
<!-- Form review end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for movie_id start -->
  <!-- Input for movie_id start -->
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <!-- Input for movie_id end -->
  <!-- Label and input for movie_id end -->

  <!-- Label and input for star_rating start -->
  <div class="form-group">
    <%= f.label :star_rating %>

    <!-- Input for star_rating start -->
    <%= f.text_field :star_rating, class: "form-control" %>
    <!-- Input for star_rating end -->
  </div>
  <!-- Label and input for star_rating end -->

  <!-- Label and input for review_text start -->
  <div class="form-group">
    <%= f.label :review_text %>

    <!-- Input for review_text start -->
    <%= f.text_field :review_text, class: "form-control" %>
    <!-- Input for review_text end -->
  </div>
  <!-- Label and input for review_text end -->

  <%= f.submit "Create review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
