<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = review.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% review.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = review.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <!-- Input for movie_id start -->
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for movie_id end -->
    <% if movie_was_invalid %>
      <% review.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_id end -->
  <!-- Label and input for star_rating start -->
  <div class="form-group">
    <% star_rating_class = "form-control" %>
    <% star_rating_was_invalid = review.errors.include?(:star_rating) %>

    <% if was_validated %>
      <% if star_rating_was_invalid %>
        <% star_rating_class << " is-invalid" %>
      <% else %>
        <% star_rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :star_rating %>
    <!-- Input for star_rating start -->
    <%= f.number_field :star_rating, class: star_rating_class, placeholder: "Enter star rating" %>
    <!-- Input for star_rating end -->
    <% if star_rating_was_invalid %>
      <% review.errors.full_messages_for(:star_rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for star_rating end -->
  <!-- Label and input for review_text start -->
  <div class="form-group">
    <% review_text_class = "form-control" %>
    <% review_text_was_invalid = review.errors.include?(:review_text) %>

    <% if was_validated %>
      <% if review_text_was_invalid %>
        <% review_text_class << " is-invalid" %>
      <% else %>
        <% review_text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review_text %>
    <!-- Input for review_text start -->
    <%= f.text_field :review_text, class: review_text_class, placeholder: "Enter review text" %>
    <!-- Input for review_text end -->
    <% if review_text_was_invalid %>
      <% review.errors.full_messages_for(:review_text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for review_text end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
